
@{
    ViewData["Title"] = "HacerRutina";
}
  <section class="características">
  <h2>❓¿Qué características tenés?</h2>
  <h3>(Podes elegir varias opciones)</h3>
    <div>
    <label><input type="checkbox"> Piel sensible</label>
    <label><input type="checkbox"> Enrojecimiento frecuente</label>
    <label><input type="checkbox"> Tendencia al acné</label>
    <label><input type="checkbox"> Sequedad / descamación</label>
    <label><input type="checkbox"> Opacidad / falta de luminosidad</label>
    <label><input type="checkbox"> Poros dilatados</label>
    <label><input type="checkbox"> Puntos negros</label>
    <label><input type="checkbox"> Manchas oscuras / hiperpigmentación</label>
    <label><input type="checkbox"> Textura irregular</label>
    <label><input type="checkbox"> Exceso de grasa / brillo</label>
    <label><input type="checkbox"> Líneas de expresión / arrugas</label>
</div>
  </section>
 
  <section class="preferencias">
    <h2>❓¿Qué preferencias de productos tenés?</h2>
    <h3>(Podes elegir varias opciones)</h3>
    <div>
    <label><input type="checkbox"> Productos sin fragancia</label>
    <label><input type="checkbox"> Alcohol</label>
    <label><input type="checkbox"> Sin alcohol</label>
    <label><input type="checkbox"> Silicona</label>
    <label><input type="checkbox"> Ingredientes naturales / orgánicos</label>
    <label><input type="checkbox"> Fragancia artificial</label>
    <label><input type="checkbox"> Sin parabenos</label>
    <label><input type="checkbox"> Parabenos</label>
    <label><input type="checkbox"> Cruelty-Free</label>
    <label><input type="checkbox"> Sulfatos</label>
    <label><input type="checkbox"> No comedogénico</label>
    <label><input type="checkbox"> Bajo en residuos / envases reciclables</label>
    <label><input type="checkbox"> Vegano</label>
</div>
  </section>
 
  <section class="presupuesto">
    <h2>❓¿Cuál es tu presupuesto estimado?</h2>
    <div>
    <label><input type="checkbox"> Económico (hasta $50 USD)</label>
    <label><input type="checkbox"> Medio (hasta $120 USD)</label>
    <label><input type="checkbox"> Premium (desde $120 USD)</label>
</div>
  </section>
 
  <section class="frecuenciaRutinaria">
    <h2>❓¿Cuál es tu frecuencia de rutina ideal?</h2>
    <div>
    <label><input type="checkbox"> Rutina simple (1-3 pasos)</label>
    <label><input type="checkbox"> Rutina intermedia (4-5 pasos)</label>
    <label><input type="checkbox"> Rutina completa (6+ pasos)</label>
</div>
</section>
  <button>Enviar ✔️</button>


