<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <main>
        <section class="imagen">
            <img src="imagenes/skin3.jpg" alt="Piel">
        </section>
    <section class="login">
        <form method="post" action="login.html">
            <h1>Nombre usuario</h1>
            <input type="text" id="name" name="name" placeholder="Username"/>
           <h1>Contraseña</h1>
            <input type="password" name="contraseña" placeholder="Password"/>
            <button type="submit">Iniciar Sesion</button>
        <div>
        <p>¿No tenés cuenta? <a href="Registro.html"> REGISTRATE ACÁ</a></p>
        </form>
    </section>
    </main>

    <footer>
        <ul>
            <li><a href="index.html">¿NECESITAS AYUDA?</a></li>
            <li><p>- DERMAI - </p></li>
            <li><p>2025</p></li>
        </ul>
    </footer>
</body>
</html>