@{
    ViewData["Title"] = "InfoTipoDePiel";
}
<section class = "ImagenInfo">
<img src="fotos/rutina1.png" alt="Rutina">
</section>
  <section class="InfoPiel">
  <h5>Piel Mixta</h5>
  <p>La piel mixta combina zonas grasas (especialmente la zona T: frente, nariz y barbilla) con zonas secas o normales (como las mejillas). Se caracteriza por brillo, poros dilatados e impurezas en la zona T, y tirantez o descamación en otras áreas.</p>
  
  <h2>
    Factores que influyen:
    Genética
    Cambios hormonales
    Clima y ambiente

    Rutina de cuidado recomendada:
    Limpieza: Con geles o productos oil-free, usando agua tibia.
    Exfoliación: Una vez por semana.
    Hidratación: Con texturas ligeras o en gel que no obstruyan poros.
    Protección solar: FPS 30 o más, oil-free y de rápida absorción.
    Productos específicos: Formulados para piel mixta, sin alcohol y equilibrantes.
  </h2>

<p>Este tipo de piel requiere un cuidado equilibrado que atienda tanto las zonas grasas como las secas sin agravar ninguna de ellas.</p>
</section>