@{
    ViewData["Title"] = "IngresoPiel";
}
    <main>
        <img src="fotos/info.png" alt="info">
        <h2>¡Completa con tus datos para descubrir tu tipo de piel!</h2>
        <section class="ingreso">
            <form action="Home.html" method="post">
                <h3>1. ¿Cómo se siente tu piel justo después de lavarla sin aplicar ningún producto? :</h3>
                <input type="range" max="100" min="0" step="1"/>
                <div class="hola">
                    <p>Muy Seca</p>
                </div>
                <div class="chau">
                    <p>Muy Grasa</p>
                </div>


                <h3>2. ¿Has tenido alguna vez problemas de alergia con productos cosméticos?</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">No</option>
                    <option value="2">Algunas veces con productos muy fuertes</option>
                    <option value="3">Si</option>
                </select>


                <h3>3. ¿Cada cuanto suele irratarse tu piel?</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Casi nunca</option>
                    <option value="2">A veces</option>
                    <option value="3">Muchas veces</option>
                </select>


                <h3>4. ¿Con que frecuencia te suelen salir granos en la cara? :</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Muy rara vez</option>
                    <option value="2">Ocasionalmente (a causa de estres u otros)</option>
                    <option value="3">Constantemente</option>
                </select>
               
                <div>
                    <input type="submit" value="Enviar datos">
                    <input type="reset" value="reset form">
                </div>
            </form>
        </section>
    </main>
