@{
    ViewData["Title"] = "MostrarRutina";
}

<section class="contenedor">
    <h1>Preferencias y características seleccionadas</h1>

    <div class="bloque">
        <ul>
            <li>Piel mixta</li>
            <li>Sensibilidad a alcoholes</li>
            <li>Prefiere productos sin fragancia</li>
            <li>Busca reducir rojeces</li>
        </ul>
    </div>

    <h1>Rutina de día</h1>

    <div class="cuadro">
        <p>Paso 1 - Limpiador suave sin sulfatos</p>
        <p>Paso 2 - Tónico calmante</p>
        <p>Paso 3 - Sérum antioxidante vitamina C</p>
        <p>Paso 4 - Hidratante ligero gel-cream</p>
        <p>Paso 5 - Protector solar SPF 50+</p>
    </div>

    <h1>Rutina de noche</h1>

    <div class="cuadro">
        <p>Paso 1 - Limpiador suave</p>
        <p>Paso 2 - Tónico hidratante</p>
        <p>Paso 3 - Sérum con niacinamida</p>
        <p>Paso 4 - Gel hidratante</p>
        <p>Paso 5 - Crema reparadora ligera</p>
    </div>

    <h1>Consejos adicionales</h1>

    <div class="bloque">
        <ul>
            <li>Evitar exfoliantes fuertes si hay irritación.</li>
            <li>No usar productos con fragancia.</li>
            <li>Aplicar protector solar incluso en días nublados.</li>
        </ul>
    </div>

    <div class="feedback-boton">
        <button>Dejar feedback</button>
    </div>
</section>