USE [Dermai]
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPerfil]    Script Date: 13/11/2025 13:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_CrearPerfil]
    @CaracteristicasPiel NVARCHAR(200) = NULL,
    @PreferenciaProducto NVARCHAR(200) = NULL,
    @Presupuesto NVARCHAR(50) = NULL,
    @FrecuenciaRutina NVARCHAR(50)= NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Perfil (IdUsuario, CaracteristicasPiel, PreferenciaProducto, Presupuesto, FrecuenciaRutina)
    VALUES (@IdUsuario, @CaracteristicasPiel, @PreferenciaProducto, @Presupuesto, @FrecuenciaRutina);

    SELECT SCOPE_IDENTITY()
END;