USE [Dermai]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 13/11/2025 10:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Nombre NVARCHAR(100),
    @Email NVARCHAR(100),
    @Contraseña NVARCHAR(100),
    @FechaDeNacimiento DATE,
    @IdPerfil INT
AS
BEGIN
    -- Inserta el nuevo registro en la tabla Usuario
    INSERT INTO Usuario (Nombre, Email, Contraseña, FechaDeNacimiento, IdPerfil)
    VALUES (@Nombre, @Email, @Contraseña, @FechaDeNacimiento, @IdPerfil);

    SELECT CAST(SCOPE_IDENTITY() AS INT); 
END