USE [Dermai]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2025 15:18:06 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdPerfil] [int] NOT NULL,
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[IdFeedback] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdRutina] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[IdFeedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[CaracteristicasPiel] [varchar](50) NOT NULL,
	[PreferenciaProducto] [varchar](50) NOT NULL,
	[Presupuesto] [varchar](50) NOT NULL,
	[FrecuenciaRutina] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[IdRutina] [int] IDENTITY(1,1) NOT NULL,
	[Rutinas] [varchar](50) NOT NULL,
	[RutinaFinal] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Rutinas] PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [IdUsuario], [CaracteristicasPiel], [PreferenciaProducto], [Presupuesto], [FrecuenciaRutina]) VALUES (1, 1, N'Grasa', N'Hidratante', N'Medio', N'Diaria')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Email], [Contraseña], [FechaDeNacimiento], [IdPerfil]) VALUES (1, N'Juan Pérez', N'juanperez@gmail.com', N'12345Segura', CAST(N'2000-05-14' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPerfil]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearPerfil]
	@IdUsuario INT,
	@CaracteristicasPiel VARCHAR(50),
	@PreferenciaProducto VARCHAR(50),
	@Presupuesto VARCHAR(50),
	@FecuenciaRutina VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Perfil(IdUsuario, CaracteristicasPiel, PreferenciaProducto, Presupuesto, FrecuenciaRutina)
	VALUES (@IdUsuario, @CaracteristicasPiel, @PreferenciaProducto, @Presupuesto, @FecuenciaRutina);

	SELECT SCOPE_IDENTITY() AS IdPerfil;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 30/10/2025 15:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarUsuario]
	@Nombre VARCHAR(50),
	@Email VARCHAR(50),
	@Contraseña VARCHAR(50),
	@FechaDeNacimiento DATE,
	@IdPerfil INT
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO Usuario (Nombre, Email, Contraseña, FechaDeNacimiento, IdPerfil)
    VALUES (@Nombre, @Email, @Contraseña, @FechaDeNacimiento, @IdPerfil);

    SELECT SCOPE_IDENTITY() AS IdUsuario;
END
GO
