<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<header>
  <div class="container text-center">
    <div class="header-logo">
      <img src="~/imagenes/Logo.png" alt="Logo">
      <h1>dermai</h1>
    </div>
    <p>En dermai no solo cuidamos la piel, cuidamos a las personas.</p>
  </div>
</header>

<body>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
  <footer>
        <ul>
            <li><a href="index.html">¿NECESITAS AYUDA?</a></li>
            <li><p>- DERMAI - </p></li>
            <li><p>2025</p></li>
        </ul>
    </footer>
    
</html>
