@using dermai.Models;

<section class="Registro">
    <div class="imagen2">
        <img src="imagenes/skin3.jpg" alt="Piel">
    </div>
    <form method="post" asp-action="GuardarRegistro">
        <h3>Correo Electronico</h3>
        <input type="email" name="Email" placeholder="Email" required />
        <h3>Nombre usuario</h3>
        <input type="text" name="Nombre" placeholder="Username" required />
        <h3>FechaDe Nacimiento</h3>
        <input type="date" name="FechaDeNacimiento" placeholder="Fecha De Nacimiento" required/>
        <h3>Contraseña</h3>
        <input type="password" name="Contraseña" placeholder="Password" required />
        <button type="submit">Registrarse</button>
        
        <p>¿Ya eres miembro? <a href='@Url.Action("Login","Account")' alt = "Login"> Inicia Sesion</a></p>
        <p>Al tener una cuenta, podrás recibir notificaciones de DERMAI.COM</p>
        </form>
        <script src="~/js/validaciones.js"></script>
</section>
    
