USE [master]
GO
/****** Object:  Database [Dermai]    Script Date: 13/11/2025 14:32:07 ******/
CREATE DATABASE [Dermai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dermai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dermai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dermai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dermai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dermai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dermai]
GO
/****** Object:  User [alumno]    Script Date: 13/11/2025 14:32:07 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdPerfil] [int] NOT NULL,
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[IdFeedback] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdRutina] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[IdFeedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[CaracteristicasPiel] [nvarchar](200) NOT NULL,
	[PreferenciaProducto] [nvarchar](200) NOT NULL,
	[Presupuesto] [nvarchar](50) NOT NULL,
	[FrecuenciaRutina] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[IdRutina] [int] NOT NULL,
	[Rutinas] [bit] NOT NULL,
	[RutinaFinal] [varchar](50) NOT NULL,
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Rutinas] PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Email], [Contraseña], [FechaDeNacimiento], [IdPerfil]) VALUES (1, N'ALE', N'ale.campano@gmail.com', N'ale', CAST(N'2008-11-26' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPerfil]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearPerfil]
    @CaracteristicasPiel NVARCHAR(200),
    @PreferenciaProducto NVARCHAR(200),
    @Presupuesto NVARCHAR(50),
    @FrecuenciaRutina NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Perfil (CaracteristicasPiel, PreferenciaProducto, Presupuesto, FrecuenciaRutina)
    VALUES (@CaracteristicasPiel, @PreferenciaProducto, @Presupuesto, @FrecuenciaRutina);

    SELECT SCOPE_IDENTITY()
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 13/11/2025 14:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
@Nombre NVARCHAR(100),
@Email NVARCHAR(100),
@Contraseña NVARCHAR(100),
@FechaDeNacimiento DATE,
@IdPerfil INT 
AS
BEGIN
	INSERT INTO Usuario (Nombre, Email, Contraseña, FechaDeNacimiento, IdPerfil)
	Values (@Nombre, @Email, @Contraseña, @FechaDeNacimiento, @IdPerfil)
END

GO
USE [master]
GO
